@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


html,
body {
  font-family: "Josefin Sans", sans-serif;
}
 button{
  cursor: pointer;
 }

 /* Marquee animations */
@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.serviceCard {
  will-change: transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
}

.serviceCardContainer {
  transform-style: preserve-3d;
}
